[Unit]
Description=Lottery SMC service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=3
User=ubuntu
ExecStart=/home/ubuntu/lottery/lottery-cli -C /home/ubuntu/lottery/ton-lite-client-test1.config.json -a 0:ec7bbe1d9c19bebf41c842cd08b13064dcb1e0c885b8a4a638b3c89804a5ab93

[Install]
WantedBy=multi-user.target
